/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 span {
	 word-break: break-all;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

textarea:focus, input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
  outline: none!important;
}

.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

.brand-logo {
	left: 20%;
}

html {
	position: relative;
	min-height: 100%;
}

#html {
	background-color: inherit !important;
}

body {	
	margin: 0;
	padding: 0;
	border: 0;
	
	position: relative;
	min-height: 100%;

	background-color: #01090a;
	background-image: url("../images/cross-stripes.png");
}

body *, * {
	box-sizing: border-box !important;
}

#logo-image {
	margin-top: 15px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navBar {
	width: 100%;
	height: 75px;
}

#top {
	margin: 0px;
}

#loginUIContainer {
	padding-top: 100px;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin-bottom: 0;
}

/* Desktop */
@media only screen and (min-width: 1200px) {

	#uiContainer {
		background-image: url("../images/background.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#toast-container {
		top: auto !important;
		right: auto !important;
		bottom: 0%;
		left: 80%;
		width: 15%;
	}

	#chatWindow {
		border-image-source: url("../images/border_metal.png");
		border-image-slice: 15 15 15 15 fill;
		border-image-width: 12px 12px 12px 12px;
		border-image-outset: 5px 5px 5px 5px;
		border-image-repeat: round round;
	}

	.div-border-leaves {
		border-style: solid;
		border-image-slice: 31 31 25 31;
		border-image-width: 20px 20px 20px 20px;
		border-image-outset: 5px 5px 5px 5px;
		border-image-repeat: round round;
		border-image-source: url("../images/border_elves.png");
	}

	#userlistBox {
		height: calc(100vh - 200px);
	}

	#chatBoxWrapper {
		height: calc(100vh - 200px);
	}
}

/* Mobile */
@media only screen and (max-width: 1200px) {

	#toast-container {
		top: auto !important;
		right: auto !important;
		bottom: 0%;
		left: 0%;
		width: 100%;
	}

	#hack {
		visibility: hidden;
	}

	.div-border-leaves {
		border: 2px solid #3a3a3a;
	}

	#userlistBox {
		margin-bottom: 1rem;
	}

	#userlistBox {
		height: 500px;
	}

	#chatBoxWrapper {
		height: 500px;
	}
}

#toast-container .toast {
	background-color: rgba(0, 0, 0, 0.7);
	border-image-slice: 15 15 15 15 fill;
	border-image-width: 12px 12px 12px 12px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
	border-image-source: url("../images/chat_input_border.png");
}

#connectButtonWrap {
	margin-top: 1rem;
}

#connectButton {
	width: 120px;
	height: 30px;
	background-image: url("../images/button_login.png");
}

.button-basic {
	border: 0;
	font-style: normal;
	font-size: 0;
	text-transform: inherit;
	padding: 18px 56px;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.navbar-fixed nav {
	background-image: url("../images/menu_empty.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	background-position: 50% 50% !important;
}

input[type="text"], input[type="password"] {
	border-bottom: none !important;
	outline: none !important;
	margin: 0px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	font-weight: bold !important;
	color: white !important;
	border-image-slice: 15 15 15 15 fill !important;
	border-image-width: 12px 12px 12px 12px !important;
	border-image-outset: 0px 0px 0px 0px !important;
	border-image-repeat: round round !important;
	border-image-source: url("../images/chat_input_border.png")
		!important;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.user-wrap {
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	height: 96%;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.4);
	border-image-slice: 15 15 15 15 fill;
	border-image-width: 12px 12px 12px 12px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
}

.user-wrap-general {
	border-image-source: url("../images/userlist_border.png");
}

.user-wrap-admin {
	border-image-source: url("../images/userlist_border_admin.png");
}

.user-icon-container {
	width: 64px;
	height: 20px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
}

.user-icon-image {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 42px;
}

.user-icon-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

ul li {
	list-style-type: none;
	width: 100%;
	height: 42px;
}

.userlist-border {
	background-image: url=("../images/userlist_border.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
}

.label-basic {
	color: white;
	font-style: bold;
	font-size: 1rem;
	font-family: inherit;
}

#uiContainer {
	min-height: 100%;
}

#chatWindow {
	position: relative;
	margin: 0.2rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	background-color: rgba(0, 0, 0, 0.4);
}

#chatBoxWrapper {
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
}

#chatBox {
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: white;
	padding: 0.2rem;
}

#userlistBox {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	position: relative;
}

#msgWrapper {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 1rem;
}

#msg {
	background-color: transparent;
	font-size: 1rem;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
	border-width: 0;
}

#exitButton {
	margin-top: 1rem;
	margin-right: 1rem;
	float: right;
	background-image: url("../images/button_exit.png");
}