/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

textarea:focus, input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
  outline: none!important;
}

.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

.brand-logo {
	left: 20%;
}