/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

textarea:focus, input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
  outline: none!important;
}

.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

.brand-logo {
	left: 20%;
}

html {
	position: relative;
	height: 100%;
}

body {	
	height: 100%;
	margin: 0;
	padding: 0;

	padding-bottom: 25px;
	min-height:100%;
    position:relative;

	background-image: url("../images/background_login.png");
	background-repeat: no-repeat;
	background-size: cover;
}

body *, * {
	box-sizing: border-box !important;
}

footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background: #181818 ;
	/*line-height: 0px;*/
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

footer p {
	margin: 0;
	padding: 0;
	color: gold;
	text-align: center;
	font-size: 10px;
}

#logo-container {
	position: absolute;
	top: 24%;
	left: 26%;
	width: 10%;
	height: 50%;
}

#logo-image {
	width: 100%;
 	height: 100%;
}

#navBar {
	position: fixed;
	width: 100%;
	height: 75px;
	background-image: url("../images/menu.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	z-index: 1;
}

#top {
	margin: 0px;
}

#loginUIContainer {
	padding-top: 150px;
	width: 100%;
	height: calc(100%-75px);
}

#msg {
	display: inline-block; 
	background-color: transparent;
	font-size: 1rem;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-width: 0;
	display: block;
	margin: 10px;
}

#toast-container {
	top: auto;
	right: auto;
	bottom: 0%;
	left: 80%;
	width: 15%;
}

#toast-container .toast {
	background-color: rgba(0, 0, 0, 0.7);
	border-image-slice: 15 15 15 15 fill;
	border-image-width: 12px 12px 12px 12px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
	border-image-source: url("../images/chat_input_border.png");
}

#connectButton {
	width: 120px;
	height: 30px;
	background-image: url("../images/button_login.png");
}

#exitButton {
	position: absolute;
	bottom: 6%;
	left: 85%;
	width: 120px;
	height: 30px;
	background-image: url("../images/button_exit.png");
}

.button-basic {
	border: 0;
	font-style: normal;
	font-size: 0;
	text-transform: inherit;
	padding: 18px 56px;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.navbar-fixed nav {
	background-image: url("../images/menu_empty.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	background-position: 50% 50% !important;
}

input[type="text"], input[type="password"] {
	border-bottom: none !important;
	outline: none !important;
	margin: 0px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	font-weight: bold !important;
	//font-size: 20px !important;
	font-size: 1vw !important;
	color: white !important;
	border-image-slice: 15 15 15 15 fill !important;
	border-image-width: 12px 12px 12px 12px !important;
	//border-image-width: 1rem !important;
	border-image-outset: 0px 0px 0px 0px !important;
	border-image-repeat: round round !important;
	border-image-source: url("../images/chat_input_border.png")
		!important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	/*height: 12% !important;*/
}

#input-container-chat {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 80%;
	height: 6%;
	bottom: 6%;
}

.user-wrap {
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	height: 96%;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.4);
	border-image-slice: 15 15 15 15 fill;
	border-image-width: 12px 12px 12px 12px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
}

.user-wrap-general {
	border-image-source: url("../images/userlist_border.png");
}

.user-wrap-admin {
	border-image-source: url("../images/userlist_border_admin.png");
}

.user-icon-container {
	width: 64px;
	height: 20px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
}

.user-icon-image {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 42px;
}

.user-icon-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

ul li {
	list-style-type: none;
	width: 100%;
	height: 42px;
}

.userlist-border {
	background-image: url=("../images/userlist_border.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
}

.label-basic {
	color: white;
	font-style: bold;
	//font-size: 1.5rem;
	font-size: 1vw;
	font-family: inherit;
}

#chatBoxWrapper {
	padding: 20px;
	width: 68%;
	height: 85%;
	display: inline-block;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
}

#chatBox {
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: white;
	padding: 0px 10px 100px 10px;
	scrollbar-color: dark;
}

#userlistBox {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block; //
	background-color: rgba(0, 0, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	width: 30%;
	height: 85%;
	overflow-y: auto;
	position: relative;
	left: 2%;
	scrollbar-color: dark;
}

#chatWindow {
	position: relative;
	margin: 1%;
	padding: 20px;
	width: 98%;
	height: 88%;
	background-color: rgba(0, 0, 0, 0.4);
	border-image-source: url("../images/border_metal.png");
	border-image-slice: 15 15 15 15 fill;
	border-image-width: 12px 12px 12px 12px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
}

#uiContainer {
	position: fixed;
	top: 10%;
	width: 100%;
	height: 100%;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
}

.div-border-leaves {
	border-style: solid;
	border-image-slice: 31 31 25 31;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 5px 5px 5px 5px;
	border-image-repeat: round round;
	border-image-source: url("../images/border_elves.png");
}